adbutils==0.13.1
beautifulsoup4==4.11.1
clint==0.5.1
hurry==1.1
hurry.filesize==0.9
keyboard==0.13.5
packaging==21.3
pure_python_adb==0.3.0.dev0
py2exe==0.11.1.0
pyaxmlparser==0.3.26
pywin32==303
requests==2.25.1
six==1.16.0
